<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <appenders>

        <RollingFile name="Logfile" fileName="${env:LOG_FILE_PATH:-.}/project.out"
                     filePattern="${env:LOG_FILE_PATH:-.}/%d{yy-MM-dd-HH}-%i.log.gz">

            <PatternLayout alwaysWriteExceptions="false">
                <pattern>
                    {"@timestamp":"%d{yyyy-MM-dd'T'HH:mm:ssZ}","level":"%-5level","loggerName":"%c{1}","message":"%enc{%m}{JSON}","exception":"%replace{%ex}{[\r\n\t]}{
                    }","thread":"%t","line":"%L","location":"%l","method":"%M"}
                    %n
                </pattern>
            </PatternLayout>

            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="40 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>

            <DefaultRolloverStrategy max="50">
                <Delete basePath="${env:LOG_FILE_PATH:-.}/" maxDepth="1">
                    <IfFileName glob="*.log.gz"/>
                    <IfLastModified age="1m"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

        <Console name="Console" recipient="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %X{REF_ID_TOKEN_KEY} - [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </appenders>

    <loggers>

        <root level="INFO" additivity="false">
            <appender-ref ref="Logfile"/>
            <appender-ref ref="Console" level="INFO"/>
        </root>

    </loggers>

</configuration>